*.iml
.gradle
/.idea
.DS_Store
/build
build/*
build
.idea
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/vcs-1/gc.properties
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.5/gc.properties
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileContent/fileContent.lock
.gradle/6.5/fileChanges/last-build.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileChanges/last-build.bin
.gradle/6.5/fileContent/fileContent.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
